# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# =========================
# Machine Learning
# =========================

ml/dataset/
ml/venv/
ml/crop_disease_cnn.keras

# Test images
ml/test_images/

# =========================
# Environment / Secrets
# =========================

.env
.env.*

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Node
# =========================

node_modules/

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db